<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_sports_basketball_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_sports_basketball_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasketGroupsFinal">
        <activity
            android:name=".activities.ScheduledPlayersCalendarActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />

        <receiver
            android:name=".broadcastreceiver.GeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.basketgroupsfinal.ACTION_GEOFENCE_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.PlayerJoinAlarmReceiver" />

        <activity
            android:name=".activities.MapActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="test"
            android:value="test" />

        <activity
            android:name=".activities.AddBasketPlaceActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar">
            <meta-data
                android:name="test"
                android:value="test" />
        </activity>
        <activity
            android:name=".activities.PlaceDetailsActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="true"
            android:parentActivityName=".activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:parentActivityName=".activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true"
            android:parentActivityName=".activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />
        <activity
            android:name=".activities.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasketGroupsFinal.NoActionBar" />

        <service
            android:name=".firebase.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>